@use '@/app/styles/base/variables' as *;

.form {
  width: 100%;
  max-width: 340px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 50px 30px 30px;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 #00000024;
}

.form_type_profile {
  width: 100%;
  max-width: 510px;
  min-height: unset;
  gap: unset;
  padding: 0;
  border-radius: 0;
  box-shadow: none;

  & .form__button {
    margin-top: 50px;
    width: 100%;
    display: block;
    max-width: 280px;
    text-align: center;
  }
}

.form_type_modal {
  min-height: unset;
  gap: unset;

  .form__title {
    font-size: 15px;
  }

  .form__bottom {
    margin-top: 0;
  }

  .form__button {
    margin-top: 0;
  }
}

.form__fieldset {
  width: 100%;

  &:last-of-type {
    margin-bottom: 47px;
  }
}

.form__title {
  margin: 0 0 40px;
}

.form__bottom {
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.form__button {
  width: 100%;
}

.form__error {
  margin: 14px 0 0;
  font-size: 8px;
  line-height: 1;
  color: $color-error;
}
