@use '@/app/styles/base/variables' as *;

.message {
  padding: 11px;
  width: fit-content;
  max-width: 402px;
  display: flex;
  font-size: 12px;
  line-height: 1.5;
  background-color: #f8f8f8;
  border-radius: 12px;
  border-top-left-radius: 0;
}

.message_type_own {
  margin-left: auto;
  background-color: #e4edfd;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 0;
}

.message__time {
  margin-left: 3px;
  align-self: flex-end;
  font-size: 9px;
  line-height: 1;
  color: #999999;
}
