@use '@/styles/base/variables' as *;

.input {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;

  &.is-filled,
  &:focus-within {
    .input__label {
      top: -12px;
      transform: translateY(-4px) translateX(-5%) scale(0.9);
    }
  }
}

.input_state_error {
  .input__input {
    color: $color-error;
  }
}

.input__wrapper {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-blue;
  }
}

.input__label {
  position: absolute;
  left: 0;
  bottom: 7px;
  font-size: 13px;
  line-height: 1;
  color: $color-grey;
  transition: transform 0.4s ease;
}

.input__input {
  font-size: 13px;
  line-height: 1;
  border: none;

  &:focus-visible {
    outline: none;
  }
}

.input__error {
  margin: 14px 0 0;
  font-size: 8px;
  line-height: 1;
  color: $color-error;
}
