@use "@/styles/base/variables" as *;

.profile-item {
  padding: 10px 0;
  font-size: 13px;
  border-bottom: 1px solid $color-middle-grey;

  @media screen and (width >= 480px) {
    display: flex;
    justify-content: space-between;
  }
}

.profile-item__value {
  color: $color-grey;
}
