@use '@/app/styles/base/variables' as *;

.profile-nav {
  margin-bottom: 60px;
  height: 64px;
  display: flex;
  background-color: $color-light-grey;
  border-bottom: 1px solid $color-middle-grey;

  @media screen and (width >= 480px) {
    width: 64px;
    height: 100vh;
    border-bottom: none;
    border-right: 1px solid $color-middle-grey;
  }
}

.profile-nav__link-wrapper {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: $color-blue;
  transition: color $transition-default;

  &:hover,
  &:focus-visible {
    background-color: rgba($color-blue, 0.8);
  }
}

.profile-nav__back-link {
  padding: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-light-grey;
  border-bottom: 1px solid $color-middle-grey;
  cursor: pointer;

  @media screen and (width >= 480px) {
    height: 100vh;
    border-bottom: none;
    border-right: 1px solid $color-middle-grey;
  }
}
