.error-page {
    height: 100vh;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.error-page__title {
    margin: 0 0 20px;
    font-size: 40px;
    line-height: 1;
}

.error-page__description {
    margin: 0 0 70px;
    font-size: 20px;
}
