$color-black: #1E1E1E;
$color-grey: #999999;
$color-blue: #3369F3;
$color-white: #ffffff;
$color-error: #FF2F2F;
$color-light-grey: #FBFBFB;
$color-middle-grey: #EAEAEA;
$color-middle-grey-2: #EFEFEF;


$transition-default: 0.3s ease;
