$color-black: #1e1e1e;
$color-grey: #999;
$color-blue: #3369f3;
$color-white: #fff;
$color-error: #ff2f2f;
$color-light-grey: #fbfbfb;
$color-middle-grey: #eaeaea;
$color-middle-grey-2: #efefef;
$transition-default: 0.3s ease;
